[submodule "mymodule"]
	path = mymodule
	url = git@github.com:Kong/kong-openid-connect.git
[submodule "kong-licensing"]
	path = kong-licensing
	url = git@github.com:Kong/kong-licensing.git
[submodule "newmodule"]
	path = newmodule
	url = git@github.com:Kong/kong-gql.git
